#logs
logs
*.log

# Optional npm cache directory
.npm

#Dependencies
node_modules

#ignore project media content
project

#Who knows what this is
.DS_Store
public/.DS_Store

#ignore user photos directory
userPhotos

admin.log