<!DOCTYPE html>
<html>

<head>
    <title>StudentWorks</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/contribute/contribute.js"></script>
    <script src="/header/usermenu.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/header/nav.css">
    <link rel="stylesheet" href="/contribute/contribute.css">
</head>

<body>
    {{#if authenticate}}
    <div hidden id="auth">{{authenticate}}</div>
    <div hidden id="userID">{{userID}}</div>
    <div hidden id="userType">{{userType}}</div>
    {{else}}
    <div hidden id="userType">Visitor</div>
    {{/if}}
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-xs-7 col-sm-7">
                <a href="/">
                    <img class="swLogo" alt="logo" src="/images/logo.png">
                </a>
            </div>
            <div class="text-right">
                <p class="swMoto">"By the students, for the students"</p>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav js-nav-add-active-class">
                            <li class="">
                                <a href="/" onclick="displayALLProjets()">
                                    <space class="glyphicon glyphicon-home"></space>
                                </a>
                            </li>
                        </ul>
                        <!-- for main page -->
                        <ul class="nav navbar-nav js-nav-add-active-class" id="optHeader"></ul>
                        <!-- for all page to push data into-->
                        <div id="pageTitleID"></div>
                        <a href="#">
                            <span class="glyphicon glyphicon-align-justify profilefIcon" data-toggle="modal" data-target="#myModal"></span>
                        </a>

                        <!-- USER MENU .....................................................................................-->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document" id="userMenuModal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel" style="text-align:center;">User menu</h4>
                                    </div>
                                    <!-- populated by usermenu.js -->
                                    <div class="modal-body" id="userMenu"></div>
                                    <div class="modal-footer"></div>
                                </div>
                            </div>
                        </div>
                        <!-- END of USER MENU.............................................................................-->

                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- BODY...................................................................... -->
    <div class="container">
        <div class="row" id="mainBody"></div>

        <form onsubmit="return false;" method="POST" enctype="multipart/form-data">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label for="name" class="lbl">Title</label>
                        </td>
                        <td>
                            <input id="titleInput" type="text" name="name" class="inpt" autofocus="autofocus" maxlength="50" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="lngInput" class="lbl">Language</label>
                        </td>
                        <td>
                            <select id="lngList">
                                <option selected value="default">Select one</option>
                                <option value="C++">C++</option>
                                <option value="Java">Java</option>
                                <option value="JavaScript">JavaScript</option>
                                <option value="Swift">Swift</option>
                            </select>
                            <label class="subLbl">Other</label>
                            <input id="lngInput" type="text" name="lngInput" class="inpt" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="frmInput" class="lbl">Framework</label>
                        </td>
                        <td>
                            <select id="frmList">
                                <option selected value="default">Select one</option>
                                <option value="Node JS">Node JS</option>
                                <option value="Unity">Unity</option>
                                <option value="ASP.NET">ASP.NET</option>
                                <option value="React">React</option>
                                <option value="Angular">Angular</option>
                                <option value="Vue.js">Vue.js</option>
                            </select>
                            <label class="subLbl">Other</label>
                            <input id="frmInput" type="text" name="frmInput" class="inpt"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pltInput" class="lbl">Platform</label>
                        </td>
                        <td>
                            <select id="pltList">
                                <option selected value="default">Select one</option>
                                <option value="Windows">Windows</option>
                                <option value="macOS">macOS</option>
                                <option value="Unix/Linux">Unix/Linux</option>
                                <option value="Web">Web</option>
                                <option value="Android">Android</option>
                                <option value="iOS">iOS</option>
                            </select>
                            <label class="subLbl">Other</label>
                            <input id="pltInput" type="text" name="pltInput" class="inpt" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="ctgInput" class="lbl">Category<small> (optioal)</small></label>
                        </td>
                        <td>
                            <select id="ctgList">
                                <option selected value="default">Select one</option>
                                <option value="Game">Game</option>
                                <option value="Utility">Utility</option>
                                <option value="Finance">Finance</option>
                                <option value="Commerce">Commerce</option>
                                <option value="Algorithm">Algorithm</option>
                                <option value="Content Management">Content Management</option>
                                <option value="Plug-in">Plug-in</option>
                            </select>
                            <label class="subLbl">Other</label>
                            <input id="ctgInput" type="text" name="ctgInput" class="inpt" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="photo" class="lbl">Icon</label>
                        </td>
                        <td>
                            <input id="photo" type="file" name="photo" />
                        </td>
                    </tr>
                    <tr class="seperator"><td></td></tr>
                    <tr>
                        <td>
                            <!-- empty tag for allignment -->
                        </td>
                        <td>
                            <input type="submit" value="Submit" id="sbmBtn" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
    <!-- End of BODY.............................................................. -->
    <hr class="clearfix w-100 d-md-none pb-3">
</body>

</html>