<!Doctype html>
<html>
    <head>
        <style>
            body { border: dotted 1px blue; width: 970px; margin: auto; padding: 10px;}
            .nav { border: dotted 1px orange; padding: 10px; height: 80px;  line-height:80px;}
            .filter { border: dotted 1px green; padding: 10px; margin-top: 10px; }
            .body { border: dotted 1px red; padding: 10px; margin-top: 10px; height: 700px;}
            .footer { border: dotted 1px #ffe600; padding: 10px; margin-top: 10px;}
        </style>
    </head>
    <body>
        <div class="nav">
            <a href="#">StudentWorkLOGO</a>
            <a href="news.html">News</a>
            <a href="about.html">About</a>
            <a href="profile.html">IMG</a>
            <hr/>
        </div>
        <div class="filter">
            <p>filter</p>
        </div>
        <div class="body">
            <p>main project</p>
        </div>
        <div class="footer">
            <p>footer</p>
        </div>
    </body>
</html>