<!Doctype html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="main.js"></script>

    <style>
        body {
            margin-top: 20px;
            padding: 20px
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">

</head>

<body>
    <div class="container">
        <!-- Topper w/ logo -->
        <div class="row hidden-xs topper">
            <div class="col-xs-7 col-sm-7">
                <a href="#">
                    <img logo alt="logo" src="images/logo.png" class="img-responsive logo" style="width:300px;">
                </a>
            </div>
            <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-0 text-right ">
                <p moto>"By the student, for the students"</p>
            </div>
        </div>
        <!-- End Topper -->
        <!-- Navigation -->
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav js-nav-add-active-class">
                            <li class="active">
                                <a href="#">All</a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">by Language
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu lngList" id="lngList" role="menu"></ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">by Framework
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu frmList" id="frmList" role="menu"></ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">by Year
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu yearList" id="yearList" role="menu"></ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- BODY-->
    <div class="container">
        <div class="row" id="mainBody">
           <!-- <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center"> Project #1</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead">
                            <strong>IMAGE</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Year</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Language</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Platform</li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center"> Project #2</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead">
                            <strong>IMAGE</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Year</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Language</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Platform</li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center"> Project #3</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead">
                            <strong>IMAGE</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Year</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Language</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Platform</li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center"> Project #4</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead">
                            <strong>IMAGE</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Year</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Language</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Platform</li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center"> Project #5</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead">
                            <strong>IMAGE</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Year</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Language</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Platform</li>
                    </ul>
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center"> Project #6</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead">
                            <strong>IMAGE</strong>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Year</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Language</li>
                        <li class="list-group-item">
                            <i class="icon-ok text-danger"></i>Platform</li>
                    </ul>
                </div>
            </div>

        -->

        </div>
    </div>
</body>

</html>