@import url('https://fonts.googleapis.com/css?family=Poppins');


#infoCol {
    padding-left: 10px;
    padding-top:40px;
}

#videoID {
    border: solid 0.3px black;
    border-radius: 1px;
    box-shadow: 4px 5px 14px rgb(145, 145, 145),2px 2px 4px rgb(180, 183, 255);
}