!DOCTYPE html>
<html lang="en">
<head>
	<title>StudentWorks-Login</title>
    <meta charset="UTF-8">
    
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Roboto|Roboto+Slab|Catamaran" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	
	<div class="app">
		<div class="container">
			<div class="content-wrapper">
				<form class="login-form validate-form flex-sb" onsubmit="return validateForm()">
						<span style="color:#b60909" class="title"> - LOGIN - </span>
					<span class="title">
						STUDENT WORKS 
						<span class="txt2" >By <span style="color:#b60909" >Students</span> For <span style="color:#b60909">Students</span></span>

					</span>

					<span class="txt1" style="font-weight: bold">
						USERNAME <span id="errorMsg" style="color:#D22822"></span>
					</span> 


					<div class="input-wrapper validate-input">
						<input class="input" type="text" name="username" id="usrname">
						<span class="focus-input"></span>
					</div>
					
					<span class="txt1" style="font-weight: bold">
						PASSWORD <span id="errorMsg2" style="color:#D22822"></span>
					</span>

					<div class="input-wrapper validate-input" data-validate = "Password is required">
						<input class="input" type="password" name="pass" id="psword">
						<span class="focus-input"></span>
					</div>
					<div>
						<a href="#" class="txt3">
							Forgot Password?
						</a>
					</div>

					<div class="container-login-form-btn">
						<button type="button" onclick="myFunction()" class="login-form-btn">
							Login
						</button>
					</div>
					<span class="txt2">Need an account? <a href="/Users/hudawadi/Desktop/Register/index.html" class="txt3">Register</a></span>
					<div class="container-login-form-btn">
				</form>
			</div>
		</div>
	</div>
	<script src="js/main.js"></script>

	<div id="dropDownSelect1"></div>

</body>
</html>
