#recording-player{
    margin: auto;
    width: 25%;
    padding: 10px;
}
#btn-container{
    margin: auto;
    width: 20%;
    padding: 10px;
}


Sometimes I can use Visual Studio. Someimtes I CANT. BUT I ALWAYS CANT TYPE>