<!DOCTYPE html>
<html lang="en">
<head>
	<title>StudentWorks-Register</title>
    <meta charset="UTF-8">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Jquery to send an email -->
	<script>
		$(document).ready(function(){
			var from,to,subject,text;
			$("#send_email").click(function(){    
				to=$("#to").val();     
				$("#message").text("Sending E-mail...Please wait");
				$.get("http://localhost:3000/send",{to:to},function(data){
				console.log(to);
				if(data=="sent")
				{
					$("#message").empty().html("<p>Email is been sent at "+to+" . Please check inbox !</p>");
				}
		
		});
			});
		});
		</script>
		<script src="/registration/js/register.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Roboto|Roboto+Slab|Catamaran" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="/registration/css/register.css">
</head>
<body>
	
	<div class="app">
		<div class="container">
			<div class="content-wrapper">
				<form class="register-form validate-form flex-sb" onsubmit="return true" action="/send">
                    
                    <span style="color:#b60909" class="title"> - REGISTRATION - </span>
                    <span class="title">
                        STUDENT WORKS
						<span class="txt2" >By <span style="color:#b60909" >Students</span> For <span style="color:#b60909">Students</span></span>
					</span>

					<span class="txt1" style="font-weight: bold">
						USERNAME <span id="errorMsg" style="color:#D22822"></span>
					</span> 


					<div class="input-wrapper validate-input">
						<input class="input" type="text" name="name" id="NAME">
						<span class="focus-input"></span>
					</div>
					
					<span class="txt1" style="font-weight: bold">
						EMAIL <span id="errorMsg2" style="color:#D22822"></span>
					</span>

					<div class="input-wrapper validate-input">
						<input class="input" type="text" name="email" id="to">
						<span class="focus-input"></span>
					</div>

					<div class="container-register-form-btn">
						<button id="send_email">Submit</button><br>
						<span id="message"></span>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>

</body>
</html>
