/* FORM */
.lbl {
    width:170px;
    font-weight:700;
    font-size: 18px;
}

.subLbl {
    font-weight:400;
    padding-left: 10px;
}

form {
    float: left;
    padding-left: 80px;
    padding-top: 0px;
}

#titleInput, #devs, #roles {
    width: 364px;
    margin-bottom: 10px;
}

select {
    width: 150px;
}

td{
    padding-top: 6px;
}
.seperator {
    height: 40px;
}

#sbmBtn {
    position: relative;;
    left: 300px;
    font-size: 18px;
    margin-left:50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #881c1c;

}
#recB{
    margin-left:30px;
    }
    


/* Body */
#mainBody {
    width:500px;
    float: right;
    padding-left: 30px; 
    margin-top: -53px;
       
}

.swTile {
    width:400px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    transform:scale(0.65);
    position:absolute;
    top:100px;
    right:145px; 
}

.panel-heading {
    min-height:65px;
}

.panel-footer {
    min-height: 40px;
    font-size: 0.9em;
}

.panel-body {
    height:250px;
}

.swPrjImage {
    height: 220px; 
    margin: auto;
}

/* Color */
#colChoice {
    margin-left: 100px;
    margin-top: -73px;
}
.colTile{
    width: 20px;
    height: 23px;
    
}



#colTable {
    border-spacing: 10px;
    border-collapse: separate;
    position:absolute;
    top:400px;
    right:233px; 
}

.colBtn{
    display:block;
    margin-top:-15px;
    border-radius: 3px;
    width:100%;
    height:100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05); 

}

/* VIDEO */
#vd {
    position: relative;
    bottom:170px;
    right:130px;
    width: 720px;
    transform:scale(0.70); 
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#videoPlayer {
    position:relative;
    right:110px;
    width: 720px;
    transform:scale(0.70); 
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}